/* Override Sitecore styles */

.footerOkCancel {
    display: none;
}

.scDialogContentContainer {
    padding-bottom: 0px !important;
}

/* Header */

.sitecoreSuggest_Header {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.sitecoreSuggest_HeaderIconColumn {

}

.sitecoreSuggest_HeaderNameColumn {
    font-size: 16px;
    padding-left: 8px;
}

.sitecoreSuggest_HeaderModelColumn {
    color: #e3e3e3;
    margin-left: auto;
}

/* Buttons */

.sitecoreSuggest_ButtonsContainer {
    position: absolute;
    right: 15px;
    top: 8px;
}

/* Labels and inputs */

.sitecoreSuggest_Label {
    padding: 0px 0px 5px 0px;
}

.sitecoreSuggest_Input {
    margin-bottom: 10px;
    padding-left: 8px;
}

.sitecoreSuggest_Disabled {
    color: #aaaaaa;
    background-color: #e3e3e3;
}

/* Combobox */

.sitecoreSuggest_Combobox {
    margin-bottom: 10px;
    padding-left: 8px;
}

    .sitecoreSuggest_Combobox option:disabled {
        font-weight: bold;
        color: #cccccc;
    }

/* Sections */

.sitecoreSuggest_Section {
    border: 1px #dddddd solid;
    background-color: #f0f0f0;
    padding: 10px;
}

.sitecoreSuggest_InputSection {
    margin-bottom: 15px;
}

.sitecoreSuggest_SuggestionSection {
    margin-bottom: 0px;
}
