<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement or Standalone">
    <commands>
      <command name="custom:SitecoreSuggest" type="SitecoreSuggest.Commands.SuggestCommand, SitecoreSuggest"/>
    </commands>
    <settings>
      <!--<setting name="SitecoreSuggest.ApiKey" value=""/>-->
      <setting name="SitecoreSuggest.Endpoint" value="https://api.openai.com/v1"/>
      <!-- Please make sure to match the model type (completion or chat) to the selected model as not all models exist in both a completion and a chat version -->
      <setting name="SitecoreSuggest.ModelType" value="completion"/>
      <setting name="SitecoreSuggest.Model" value="text-davinci-003"/>
      <setting name="SitecoreSuggest.MaxTokens" value="4096"/>
    </settings>
  </sitecore>
</configuration>
