<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement">
    <commands>
      <command name="custom:SitecoreSuggest" type="SitecoreSuggest.Commands.SuggestCommand, SitecoreSuggest"/>
    </commands>
    <settings>
      <!--<setting name="SitecoreSuggest.ApiKey" value=""/>-->
      <setting name="SitecoreSuggest.Endpoint" value="https://api.openai.com/v1"/>
      <setting name="SitecoreSuggest.Model" value="text-davinci-003"/>
    </settings>
  </sitecore>
</configuration>