<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement or Standalone">
    <commands>
      <command name="custom:SitecoreSuggest" type="SitecoreSuggest.Commands.SuggestCommand, SitecoreSuggest"/>
    </commands>
    <settings>
      <!--<setting name="SitecoreSuggest.ApiKey" value=""/>-->
      <setting name="SitecoreSuggest.BaseUrl" value="https://api.openai.com/v1"/>
      <!-- Please make sure to match the endpoint ("completions" or "chat") to the selected model as the model exposed by the endpoints are not the same -->
      <setting name="SitecoreSuggest.Endpoint" value="chat"/>
      <setting name="SitecoreSuggest.Model" value="gpt-3.5-turbo"/>
      <!-- The max tokens is only used for en completions endpoints -->
      <setting name="SitecoreSuggest.MaxTokens" value="4096"/>
    </settings>
  </sitecore>
</configuration>
